.booking-content{
    display:flex;
    align-items: center;
    justify-content:space-between; 
    color: white;
    margin-top: 100px;
}
.booking-details{
    width: 35%;
}

.booking-details h2{
    font-size: 60px;
    text-transform: uppercase;
}
.booking-details p{
    font-size: 16px;
    line-height: 26px;
}
.booking-form{
    width: 470px;
    left: 835px;
    background: #FFFFFF;
    border-radius: 5px;
    color: black;
    padding: 20px 20px;
}
.booking-form input{
    width: 98%;
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}
.error{
    color: red;
}
.booking-form label{ 
    font-size: 16px;
line-height: 20px;
color: #818181;
}
.submit-btn{
    background-color: #F9A51A !important;
    font-weight: 500 ;
    margin-top: 25px;
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
}
.date-picker{
    display: flex;
}